@charset "UTF-8";

@media screen and (max-width: 600px) {
    nav{
        display: none;
    }
    span{
        display: inline-block;
        display: flex;
        justify-content: flex-end;
        margin-right: 20px;
    }
}

@media screen  and (min-width: 600px) {
    
    span{
        display: none;
    }
}
